<div class="app-loading"
     *ngIf="!areProjectsFetched">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div *ngIf="areProjectsFetched">
    <h2>Your Contributions</h2>
    <div class="project-cards-holder">
        <div class="project-1"
             *ngFor="let project of projects">
            <a href={{project.html_url}} class="project-card">
                <div class="project-image"
                     [ngStyle]="{'background-image':'url('+project.avatar+')'}">
                </div>
                <article>
                    <h1>{{project.name}}</h1>
                    <p>
                        {{project.description}}
                    </p>
                    <span>Stars {{project.stars}}</span>
                </article>
            </a>
        </div>
    </div>
</div>
