<h2>Your Projects</h2>
<div *ngIf="areProjectsFetched === false">Loading...</div>
<mat-spinner strokeWidth="3"
             [diameter]="50"
             *ngIf="areProjectsFetched === false"></mat-spinner>
<ul class="projects">
    <li *ngFor="let project of projects">
        <a routerLink="/detail/{{project.id}}">
            <span class="badge">{{project.stars}}</span> {{project.name}}
        </a>
    </li>
</ul>
<mat-card class="project-card">
    <mat-card-header>
        <div mat-card-avatar class="project-image"></div>
        <mat-card-title>Emacs</mat-card-title>
    </mat-card-header>
    <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                This is the awesomest project in the world
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Star</button>
        </mat-card-actions>
</mat-card>
